<section id="about" class="about">
  <div class="container">
    <h3>Rudi Quartier als beeldhouwer</h3>
    <p>Geboren 1961</p>


    <h4>Opleidingen</h4>
    <ul>
      <li>Jeffrie Devriese, brons en steen</li>
      <li>Antoon Rooryck, steen</li>
      <li>Dirk Popelier, letters in steen</li>
      <li>Academie Tielt olv. Paul perneel</li>
      <li>Academie Kortrijk olv. Jean luc verpoucke</li>
    </ul>

    <h4>Werken</h4>
    <p>Het centrale thema in het werk van Rudi is het spel met de vorm.
    En dit in hoofdzaak in een  abstracte vormgeving.
    Vaak zijn ronde,  organische vormen in dialoog met abstracte rechte lijnen.
    De keuze van de  afwerking van deze vormen is van primordiaal belang in de opbouw van het werk.
    De scherp, secuur afgewerkte lijnen en afboordingen ondersteunen immers het werk.
    Vaak is er in de werken een ruw gehakt deel dat in contrast staat met een in hoofdzaak gepolijst geheel. De ruwe delen weerspiegelen dan de oorspronkelijke kleur en door het polijsten ontstaat een tweede aanvullende kleurtint. Het ruwe deel laat de materie zien in zijn ruwe ontgonnen vorm, zoals het in de natuur voorkomt.
    </p>

    <p>
    In hoofdzaak werkt Rudi zijn beelden uit in steen en dit voornamelijk in de hardere soorten als daar zijn : belgische arduin, carrara marmer, belgische zwarte marmer, bourgondische witsteen.
    Het beeldhouwwerk van Rudi is getypeerd door een bijzonder soberheid die kracht uitstraalt.
    Door het zoeken naar een eenvoudige abstracte vorm ontstaat een spel tussen licht en helder, tussen schaduw en donker.
    Vaak zijn de werken uitgepuurd en door het polijsten nodigen deze uit tot aanraking; de tactiele sensatie maakt  dan ook deel uit van het werk.
    </p>


  </div>
</section>
