<section id="photos" class="photos">
  <div class="container" id="photosContainer">
    <ul>
      <li class="image">
        <a href="../images/Beeld naam 1/001.JPG" data-lightbox="1" data-title="1">
          <img src="../images/Beeld naam 1/001.JPG"/>
        </a>

        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 1/002.JPG" data-lightbox="1" data-title="foto 2">
              <img src="../images/Beeld naam 1/002.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/007.JPG" data-lightbox="1" data-title="foto 2">
              <img src="../images/Beeld naam 1/007.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/008.JPG" data-lightbox="1" data-title="foto 4">
              <img src="../images/Beeld naam 1/008.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/009.JPG" data-lightbox="1" data-title="foto 5">
              <img src="../images/Beeld naam 1/009.JPG" data-lightbox="1"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/010.JPG" data-lightbox="1" data-title="foto 5">
              <img src="../images/Beeld naam 1/010.JPG" data-lightbox="1"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/011.JPG" data-lightbox="1" data-title="foto 6">
              <img src="../images/Beeld naam 1/011.JPG" data-lightbox="1"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 1/10-08-07_1104.jpg" data-lightbox="1" data-title="foto 7">
              <img src="../images/Beeld naam 1/10-08-07_1104.jpg" data-lightbox="1"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Beeld naam 2/012.JPG" data-lightbox="2" data-title="2">
          <img src="../images/Beeld naam 2/012.JPG"/>
        </a>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 2/013.JPG" data-lightbox="2" data-title="2">
              <img src="../images/Beeld naam 2/013.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 2/014.JPG" data-lightbox="2" data-title="2">
              <img src="../images/Beeld naam 2/014.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 2/015.JPG" data-lightbox="2" data-title="2">
              <img src="../images/Beeld naam 2/015.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 2/016.JPG" data-lightbox="2" data-title="2">
              <img src="../images/Beeld naam 2/016.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 2/017.JPG" data-lightbox="2" data-title="2">
              <img src="../images/Beeld naam 2/017.JPG"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Beeld naam 3/018 (3).JPG" data-lightbox="3" data-title="3">
          <img src="../images/Beeld naam 3/018 (3).JPG"/>
        </a>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 3/018 (4).JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/018 (4).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 3/018.JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/018.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 3/019 (3).JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/019 (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 3/019.JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/019.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 3/0120.JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/020.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 3/021.JPG" data-lightbox="3" data-title="3">
              <img src="../images/Beeld naam 3/021.JPG"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Beeld naam 4/023.JPG" data-lightbox="4" data-title="4">
          <img src="../images/Beeld naam 4/023.JPG"/>
        </a>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 4/024 (3).JPG" data-lightbox="4" data-title="4">
              <img src="../images/Beeld naam 4/024 (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 4/024.JPG" data-lightbox="4" data-title="4">
              <img src="../images/Beeld naam 4/024.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 4/025 (3).JPG" data-lightbox="4" data-title="4">
              <img src="../images/Beeld naam 4/025 (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 4/026.JPG" data-lightbox="4" data-title="4">
              <img src="../images/Beeld naam 4/026.JPG"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Beeld naam 5/022.JPG" data-lightbox="5" data-title="5">
          <img src="../images/Beeld naam 5/022.JPG"/>
        </a>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 5/027.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/027.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/028.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/028.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/029.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/029.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/030.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/030.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/031.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/031.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/032.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/032.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/032 (3).JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/032 (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 5/033.JPG" data-lightbox="5" data-title="5">
              <img src="../images/Beeld naam 5/033.JPG"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Beeld naam 6/034.JPG" data-lightbox="6" data-title="6">
          <img src="../images/Beeld naam 6/034.JPG"/>
        </a>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Beeld naam 6/035.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/035.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/036 (3).JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/036 (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/036.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/036.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/037.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/037.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/038.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/038.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/039.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/039.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/040.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/040.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/041.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/041.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/089.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/089.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/090.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/090.JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Beeld naam 6/091.JPG" data-lightbox="6" data-title="6">
              <img src="../images/Beeld naam 6/091.JPG"/>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
