<section id="exposities" class="exposities">
  <div class="container">
    <h1>2017</h1>
    <ul>
      <li>
        <p class="title">ST1 - ST EEN - ST ONE</p>
        <p class="location">- Groepstentoonstelling - Academie Kortrijk</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Vanuit de stilte</p>
        <p class="location">- Oude Kerk - Vichte</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2016</h1>
    <ul>
      <li>
        <p class="title">Art Boretum</p>
        <p class="location">- Groepstentoonstelling - Herentals</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Buren Bij Kunstenaars</p>
        <p class="location">- Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>
    <ul>
      <li>
        <p class="title">Getij Dingen</p>
        <p class="location">- Groepstentoonstelling - Koksijde</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Letterkappen</p>
        <p class="location">- Groepstentoonstelling - Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2014</h1>
    <ul>
      <li class="last">
        <p class="title">Kiek'Toer'N</p>
        <p class="location">- Groepstentoonstelling - Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2013</h1>
    <ul>
      <li class="last">
        <p class="title">Buren Bij Kunstenaars</p>
        <p class="location">- Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2011</h1>
    <ul>
      <li class="last">
        <p class="title">De Keunekapelle</p>
        <p class="location">- Koksijde</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2005</h1>
    <ul>
      <li class="last">
        <p class="title">Kiezen Voor Kunst</p>
        <p class="location">- Groepstentoonstelling - Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2003</h1>
    <ul>
      <li class="last">
        <p class="title">Kiezen Voor Kunst</p>
        <p class="location">- Groepstentoonstelling - Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2001</h1>
    <ul>
      <li class="last">
        <p class="title">CC De Brouckere</p>
        <p class="location">- Groepstentoonstelling - Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>
  </div>
</section>
